/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
}

body, h1, h2, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* General styles */
body {
    color: #333;
}
#head{
    font-size: 20px;
    font-weight: bold;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
span{
    font-weight: bold;
    
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: white;
}


#details{
    text-align: left;
    margin-left: 10px;
    margin-top: -40px;
    padding: 10px;
}
img{
    height: 120px;
    width: 120px; 
    border-radius: 50%;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    padding: 3px;
    
}
#pic{
    display: flex;
    align-item: right;
    justify-content: right;
    position: right;
    margin-left: 0px;
    
}

.section {
    padding: 40px 0;
    text-align: center;
    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
    }

input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

i, f, y{
    margin: -40px 30px -30px 20px ;
    padding: 10px;
    font-size: 25px;
}


footer {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}


/* Responsive styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
    }

    .burger {
        display: flex;
    }

    .nav-active {
        display: flex;
    }
}
